<%-include('./partials/head.ejs') %>
</head>

<body style="background-color: lightblue;">
<%-include('./partials/nav.ejs') %>
<!-- <h1 style="text-align: center;
color: darkblue;
font-weight: bold;
margin-top: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> <u>POSTS</u> </h1> -->

<main>
    <% if (posts.length > 0) { %>
        <div class="box" style="display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin: 100px;
        padding :0px 50px;
        ">
            <% for (let post of posts) { %>
                <article style="margin: 2rem; width: 60%;
                 box-sizing: border-box;
                border: 10px black;
                outline-style: groove;
                padding: 20px;
                background-color: rgb(219, 240, 239);
                box-shadow: black 2px;
                margin:10px 50px;">
                        <div>
                            <header>
                                <h3 style="text-align: center;
                                color: darkcyan;
                                text-transform: capitalize;">
                                <u>
                                    <%= post.title %>
                                </u>
                                </h3>
                            </header>    
                        </div>
                        <div>
                            <h4 style="text-align: center;
                            color: darkslateblue;
                            ">
                                <%= post.description %>
                            </h4>
                        </div>
                        <div>
                            <h4 style="text-align: center;
                            margin-top: 12px;
                            color: darkslateblue;">
                               - <%= post.writer %>
                            </h4>
                        </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>
            No Posts!
        </h1>
    <% } %>
</main>

<%-include('./partials/end.ejs') %>